@import "tailwindcss";

body {
    color: white;
    font-family: sans-serif;
}

@font-face {
  font-family: 'Aseprite';
  font-weight: 400;
  font-style: normal;
  src: url("./aseprite-mini.otf.woff2") format('woff2');
}
@font-face {
  font-family: 'Aseprite';
  font-weight: 400;
  font-style: normal;
  src: url("./aseprite-mini.otf.woff2") format('woff2');
}